.section-layout {
	padding-top: 32px;
	padding-bottom: 32px;
	background: var(--color-scheme-1-background);
}

.div-layout {
	max-width: 320px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.layout-hhh-top {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-scheme-1-text);
	margin-bottom: 12px;
}

.layout-hh {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: var(--color-scheme-1-text);
	margin-bottom: 20px;
}

.layout-hh-p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: var(--color-scheme-1-text);
	margin-bottom: 48px;
}

.layout-ul {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 48px;
}

.layout-li {
	width: 100%;
}

.layout-img {
	border-radius: 32px;
	margin-bottom: 8px;
}

.layout-hhh {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 1.4;
	letter-spacing: 0.01em;
	color: var(--color-scheme-1-text);
	margin-bottom: 4px;
}

.layout-p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: var(--color-scheme-1-text);
}

@media screen and (min-width: 768px) {

	.section-layout {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	.div-layout {
		max-width: 768px;
		padding: 0 32px;
	}

	.layout-hhh-top {
		margin-bottom: 16px;
	}

	.layout-hh {
		margin-bottom: 24px;
	}

	.layout-hh-p {
		font-size: 18px;
		margin-bottom: 32px;
	}

	.layout-ul {
		flex-wrap: wrap;
		flex-direction: row;
		gap: 24px;
	}

	.layout-li {
		width: calc((100% - 24px) / 2);
	}

	.layout-li:nth-child(3) {
		width: 100%;
	}

	.layout-li:nth-child(2) .layout-hhh {
		margin-bottom: 42px;
	}

	.layout-img {
		margin-bottom: 32px;
	}

	.layout-hhh {
		margin-bottom: 8px;
	}

}

@media screen and (min-width: 1440px) {

	.div-layout {
		max-width: 1440px;
		padding: 0 64px;
	}

	.layout-hh {
		font-size: 48px;
	}

	.layout-hh-p {
		width: 768px;
		margin-bottom: 80px;
	}

	.layout-li {
		width: calc((100% - 48px) / 3);
	}

	.layout-li:nth-child(2) .layout-hhh {
		margin-bottom: 24px;
	}

	.layout-li:nth-child(3) {
		width: calc((100% - 48px) / 3);
	}

	.layout-hhh {
		font-size: 32px;
		margin-bottom: 24px;
	}

}